DirectoryIndex index.php index.html

ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

RewriteEngine On

RewriteRule ^\.deploy-manifest$ - [R=404,L]
RewriteRule ^runtime/ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ router.php [QSA,L]
